@tailwind base;
@tailwind components;
@tailwind utilities;

#img-mapa {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperaccess.com/full/2688263.jpg);
    height: auto;
}

#register {
    background-color: rgba(255, 255, 255, 0.256);
}
