@media (max-width: 1000px) and (min-width: 743px) {
    #welcomeDiv div {
        inline-size: 60%;
    }
    #welcomeDiv p {
        font-size: large;
        font-weight: 700;
        margin-bottom: 0em;
        padding-bottom: 0rem;
        width: 90%;
    }

    #welcomeDiv a {
        font-size: smaller;
        line-height: 1.25rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
    }

    #logoRegistro img {
        margin-top: 0.5em;
        width: 10em;
        height: 10em;
        border-radius: 160px;
        border: 3px solid #666;
    }

    #register {
        width: 80%;
    }

    #resultadosContainer {
        display: block;
        padding: 0.5rem 0.5rem;
    }

    #filtroResultados {
        padding: 0rem;
        background-color: #fff;
        margin-bottom: 1rem;
    }

    #filtroResultados form {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #filtroResultados form select {
        margin-bottom: 0rem;
        width: auto;
    }

    .autor div {
        font-size: large;
    }
}

@media (max-width: 742px) {
    #welcomeDiv div {
        word-wrap: break-word;
    }
    #welcomeDiv p {
        font-size: small;
        font-weight: 800;
        margin-bottom: 0.5rem;
        padding-bottom: 0rem;
        line-height: 1rem;
        width: auto;
    }

    #welcomeDiv a {
        font-size: 12px;
        line-height: 0.5rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
    }

    .comarca ul {
        background-color: #397d82;
    }

    #buscador input {
        width: 100%;
    }

    #busqueda {
        margin: 0rem;
        width: 80%;
    }

    #resultadosContainer {
        display: block;
        padding: 0.5rem 0.5rem;
    }

    #filtroResultados {
        padding: 0rem;
        background-color: #fff;
        margin-bottom: 1rem;
    }

    #filtroResultados form {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #filtroResultados form select {
        margin-bottom: 0rem;
        width: auto;
    }

    .image-wrapper img {
        object-fit: cover;
    }

    #actividades-contenedor {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #actividades-contenedor figure {
        display: flex;
        flex-direction: column-reverse;
    }

    #actividades-contenedor figcaption {
        text-align: center;
        font-size: 12px;
        width: 100%;
    }

    .overlay {
        margin: 0rem;
        padding: 0rem;
        opacity: 1;
        position: static;
        background-color: #fff;
    }

    .overlay a{
        text-decoration: underline;
        font-size: small;
    }

    .overlay h3 {
        display: none;
    }

    #fotosActividad {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #comentarios {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .autor div {
        font-size: medium;
    }

    figure {
        text-align: center;
    }

    .figure {
        transition: none;
        filter: grayscale(0%);
    }

    .figure figcaption {
        font-size: medium;
    }

    .figure img {
        height: 12em;
        width: 18em;
        object-fit: cover;
    }

    #descMap {
        border-radius: 0rem;
    }
}
