@media (max-width: 1000px) {
    #welcomeDiv p {
        font-size: large;
        font-weight: 700;
        margin-bottom: 0em;
        padding-bottom: 0rem;
    }

    #welcomeDiv a {
        font-size: smaller;
        line-height: 1.25rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
    }

    #logoRegistro img {
        margin-top: 0.5em;
        width: 10em;
        height: 10em;
        border-radius:160px;
        border: 3px solid #666;
    }

    #register {
        width: 80%;
    }
}
